{{ define "post_meta" }}

    <meta property='og:title' content='{{ .Title }}'/>
    <meta property='og:image' content='{{.Permalink}}{{.Params.featured_image}}'/>
    <meta property='og:description' content='{{ .Summary }}'/>
    <meta property='og:url' content='{{.Permalink}}'/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@_thomasfuller_">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Summary }}">
    <meta name="twitter:image" content="{{.Permalink}}{{.Params.featured_image}}">

{{ end }}

{{ define "main" }}

    {{ $image := .Resources.Get "images/splash.jpg" }}
    {{ $image := $image.Resize "1000x webp q75" }}

    <div class="hero" data-theme="dark" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8)), url('{{$image.RelPermalink}}');">
        {{ partial "header/site-nav.html" . }}
        {{ partial "header/post-title.html" . }}
    </div>

    <main class="container">
        {{ .Content }}
    </main>

    {{ partial "footer.html" . }}

    <script src="/minimal-theme-switcher.js"></script>

{{ end }}