{{ define "main" }}

{{ $image := resources.Get "hero-background.jpg" }}
{{ $image := $image.Resize "1500x q50" }}

<div class="hero" data-theme="dark" style="background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.65)), url('{{$image.RelPermalink}}')">
    {{ partial "header/site-nav.html" . }}
    {{ partial "header/page-title.html" . }}
</div>

<main class="container">
    {{ range .Pages }}
        <a href="{{.Permalink}}">
            <article style="background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.8)), url('{{.RelPermalink}}{{.Params.featured_image}}');">
                <footer>
                    <hgroup>
                        <h2>{{ .Title }}</h2>
                        <small>{{ .Date.Format "January 2, 2006" }}</small>
                        <h3>{{ .Summary }}</h3>
                    </hgroup>
                </footer>
            </article>
        </a>
    {{ end }}
</main>

{{ partial "footer.html" . }}

<script src="/minimal-theme-switcher.js"></script>

{{ end }}