@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --primary: #da3939;
        --primary-hover: #af2d2d;
        --primary-focus: rgba(216, 27, 27, 0.25);
        --primary-inverse: #FFF;
        --background-color: #202028;
        --h1-color: var(--primary);
        --h2-color: #FFF;
        --h3-color: #999999;
        --muted-color: #bac1c7;
    }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #da3939;
  --primary-hover: #af2d2d;
  --primary-focus: rgba(216, 27, 27, 0.25);
  --primary-inverse: #FFF;
  --background-color: #202028;
  --h1-color: var(--primary);
  --h2-color: #FFF;
  --h3-color: #999999;
  --muted-color: #bac1c7;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    --color: white;
    --primary: #da3939;
    --primary-hover: #af2d2d;
    --primary-focus: rgba(216, 27, 27, 0.25);
    --primary-inverse: #FFF;
    --background-color: #202028;
    --h1-color: var(--primary);
    --h2-color: #FFF;
    --h3-color: #999999;
    --h4-color: #FFF;
    --muted-color: #bac1c7;
}

/* Global CSS variables */
:root {
    --spacing-company: 3rem;
    --form-element-background-color: var(--background-color);
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
    --form-element-border-color: #606060
}

.hero {
    background-color: #394046;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.65)), url('hero-background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;
}

.avatar {
    height: 200px;
    width: 200px;
    vertical-align: middle;
    border-radius: 50%;
}

.hero nav li> a {
    color: var(--h4-color);
}

.hero > header > hgroup > h4 {
    margin: 15px 0px;
    font-size: 32px;
    color: var(--muted-color);
}


.hero > header > hgroup > div > a > svg {
    color: var(--primary);
    width: 50px;
    height: 50px;
    padding: 5px;
}

.hero > header > hgroup > div > a:hover > svg {
    color: var(--primary-hover);
}

header {
    padding: var(--spacing-company) 0;
}

.hero > header {
    padding-top: 100px;
}

header hgroup > :last-child {
    color: var(--h4-color);
}

article {
    background-color: #454545;
    background-image: linear-gradient(rgba(0, 0, 0, 0.627),rgba(0, 0, 0, 0.6)), url('hero-background.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;
    text-decoration: none;
}

article > footer {
    background-color: #11111100;
    border-color: #11111100;
}

svg {
    width: 25px;
    height: 25px;
    margin-bottom: 6px;
    margin-right: 5px;
}

main > p > img {
    text-align: center;
}