{{ $image := resources.Get "PROFILE1.jpg" }}
{{ $image := $image.Resize "500x q90" }}

<header class="container">
    <hgroup align="center">
        <img class="avatar" src="{{$image.RelPermalink}}" alt="profile picture" />
        <h4>Software. Cloud. FinTech.</h4>
        <div>
            <a target="_blank" href="https://twitter.com/_thomasfuller_">{{ partial "icons/twitter.html" . }}</a>
            <a target="_blank" href="https://github.com/mtfuller">{{ partial "icons/github.html" . }}</a>
            <a target="_blank" href="https://www.linkedin.com/in/thomas-fuller-407788b8">{{ partial "icons/linkedin.html" . }}</a>
        </div>
    </hgroup>
    
</header>